@charset "UTF-8";

.section__title{
    font-size:2rem;
}

.skills .section__left > strong{
font-size:1.5rem;
}

.message{
    font-size:1.2rem;
}

.contact > li{
    font-size:1.6rem;
}


.updated .badge,
.workItem__status.badge > li,
.workItem__spec.badge > li{
    line-height:1;
    font-size:0.8rem;
    font-weight:700;
    white-space:nowrap;
    text-align:center;
}

.workItem__date{
    font-size:1.5rem;
}

.workItem__topic strong{
    font-size:1.5rem;
 }

 .workItem__description{
    font-style: italic;
 }

.workItem__category{
    font-size:1.0625rem;
}
