@charset "UTF-8";

body{
    margin:70px 0 0 0;
}

.container{
    max-width:1024px;
    margin:0 auto;
    padding:0 40px 20px 40px;
}

.divided{
    display:flex;
    justify-content:space-between;
}

.section__left{
    width:40%;
}

.section__right{
    width:60%;
}

.updated{
    text-align:right;
}

.updated .badge{
    position:relative;
    vertical-align: top;
    top:2px;
}




.badge > li{
    display:inline-block;
}
