@charset "UTF-8";

body{
    margin:20px 0 0 0;
}

.container{
    max-width:1024px;
    margin:0 auto;
    padding:0 40px 20px 40px;
}

.divided{
    display:flex;
    justify-content:space-between;
}

.section__left{
    max-width:40%;
    flex:0 0 40%;
}

.section__right{
    max-width:60%;
    flex:0 0 60%;
}

.badge > li{
    display:inline-block;
}




