@charset "UTF-8";

.section__content li{
    position:relative;
}

.updated .badge{
    border-radius:0.25rem;
    padding:0.125rem 0.1875rem;
}

.workItem__status.badge > li,
.workItem__spec.badge > li{
    border-radius:0.25rem;
}

.workItem__issue{
    position:relative;
}

.dot > li:before,
.workItem__issue:before,
.each-dot:before
{
    content:" ";
    position:absolute;
    display:block;
    top:40%;
    left:0;
    transform:translateY(-50%);
    width:0.375rem;
    height:0.375rem;
    border-radius:100%;
    background:#333;
}

.sub-dot,
.sub-dot > li{
    list-style-type: circle;
}

.base-dot,
.base-dot > li{
    list-style-type: square;
}

.initial-shape{
    font-style: initial;
}
