@charset "UTF-8";

.unit{
    margin:0 0 4rem 0;
}

.section__title{
    line-height:1;
    padding:0 0 1rem 0;
    box-sizing:border-box;
}

.introduce .section__content,
.skills .section__content{
    padding:30px 0 0 0;
    box-sizing:border-box;
}

.skills .section__left > strong{
    display:inline-block;
    padding:0 0 0 30px;
    box-sizing:border-box;
}


.contact > li{
    margin:0 0 0.5rem 0;
}



.section__content > li{
 padding:20px 0 20px 0;
}

.section__left{
    padding:0 0 0 30px;
}

.updated{
    margin:2rem 0 0 0;
}



.workItem__spec.badge > li{
    padding:4px 5px;
    margin:0 0 6px 0;
    box-sizing:border-box;
}


.workItem{
    padding:10px 0 10px 0;
    box-sizing:border-box;
}

.workItem__date{
    display:inline-block;
    margin:0 0 1rem 0;
}

.workItem__topic {
   margin:0 0 1rem 0; 
}

.workItem__description{
    margin:0 0 1rem 0;
}

.workItem__description > li{
    margin:0 0 1rem 0;
}

.workItem__spec{
    margin:0 0 1.5rem 0;
}

.workItem__experience > li{
    margin:0 0 1rem 0;
}

.workItem__issue{
    margin:0 0 0.5rem 0;
    padding:0 0 0 1rem ;
    box-sizing:border-box;
}

.workItem__solution{
    padding:0 0 0 1.5rem;
    box-sizing:border-box;
}

.workItem__category{
    display:inline-block;
    margin:1rem 0 0.5rem 0;
}

.dot > li{
    margin:0 0 0.5rem 0;
    padding:0 0 0 1rem;
    box-sizing:border-box;

}

.each-dot{
    position:relative;
    margin:0 0 0 0;
    padding:0 0 0 1rem;
    box-sizing:border-box;
}

.sub-dot{
    margin:0.5rem 0 1rem 3.5rem;
}

.sub-dot > li{
    margin:0 0 1rem 0 ;
}

.base-dot{
    margin:0.5rem 0 1rem 2rem;
}

.base-dot>li{
    margin:0.5rem 0 1rem 0;
}

.initial-space{
    padding:0;
    margin:0;
}



